In [4]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

motor_ab = pd.read_csv('abnormal.csv')
motor_no = pd.read_csv('normal.csv')

In [5]:
motor_ab

       class  motor_id     peak   trough      mean       RMS  Crest_Factor
0          1         1  0.50853 -0.71970  0.228711  0.284442      1.787816
1          1         1  0.50853 -0.68132  0.227290  0.282652      1.799139
2          1         1  0.54691 -0.68132  0.224891  0.278162      1.966157
3          1         1  0.50853 -0.68132  0.231562  0.287161      1.770891
4          1         1  0.54571 -0.68252  0.224760  0.278164      1.961827
...      ...       ...      ...      ...       ...       ...           ...
20051      1        48  0.50856 -0.56614  0.188688  0.227534      2.235092
20052      1        48  0.50834 -0.56636  0.197364  0.234364      2.169021
20053      1        48  0.50834 -0.56636  0.188675  0.227532      2.234142
20054      1        48  0.54672 -0.60474  0.199104  0.235218      2.324308
20055      1        48  0.50834 -0.48960  0.189575  0.226379      2.245525

[20056 rows x 7 columns]

In [9]:
motor_train_ab = motor_ab[motor_ab['motor_id'] <= 36]
motor_test_ab = motor_ab[motor_ab['motor_id'] > 36]
motor_train_no = motor_no[motor_no['motor_id'] <= 36]
motor_test_no = motor_no[motor_no['motor_id'] > 36]

In [16]:
motor_train = pd.concat([motor_train_ab, motor_train_no], ignore_index=True)
motor_test = pd.concat([motor_test_ab, motor_test_no], ignore_index=True)

In [19]:
motor_train = motor_train.drop("motor_id", axis=1)

In [20]:
motor_test = motor_test.drop("motor_id", axis=1)

In [21]:
motor_train

       class     peak   trough      mean       RMS  Crest_Factor
0          1  0.50853 -0.71970  0.228711  0.284442      1.787816
1          1  0.50853 -0.68132  0.227290  0.282652      1.799139
2          1  0.54691 -0.68132  0.224891  0.278162      1.966157
3          1  0.50853 -0.68132  0.231562  0.287161      1.770891
4          1  0.54571 -0.68252  0.224760  0.278164      1.961827
...      ...      ...      ...       ...       ...           ...
30227      0  0.47052 -0.48904  0.191710  0.225101      2.090265
30228      0  0.46917 -0.49039  0.178607  0.211146      2.222018
30229      0  0.46917 -0.49039  0.191615  0.225098      2.084296
30230      0  0.43079 -0.49039  0.178555  0.213359      2.019082
30231      0  0.46917 -0.49039  0.184016  0.215996      2.172123

[30232 rows x 6 columns]

In [22]:
motor_test

       class     peak   trough      mean       RMS  Crest_Factor
0          1  0.50823 -0.45133  0.151352  0.187720      2.707387
1          1  0.50823 -0.48971  0.156289  0.192089      2.645803
2          1  0.39308 -0.45133  0.163987  0.202870      1.937596
3          1  0.39308 -0.56647  0.167843  0.211949      1.854599
4          1  0.39473 -0.44968  0.164167  0.202855      1.945871
...      ...      ...      ...       ...       ...           ...
10063      0  0.54605 -0.45189  0.191011  0.221381      2.466566
10064      0  0.50789 -0.45167  0.197538  0.228606      2.221679
10065      0  0.54627 -0.45167  0.191011  0.221382      2.467546
10066      0  0.46951 -0.41328  0.191964  0.222880      2.106556
10067      0  0.46951 -0.49005  0.195568  0.225346      2.083507

[10068 rows x 6 columns]

In [23]:
motor_train.to_csv('motor_train.csv', index=False, encoding='utf-8-sig')
motor_test.to_csv('motor_test.csv', index=False, encoding='utf-8-sig')